body {
  background-color: #F1F8F9;
  color: #344E66;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #FFFFFF;
  padding-top: 30px;
  margin: 0;
}
@media screen and (min-width: 700px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1100px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.header__logo {
  margin: 30px;
  width: 100%;
  max-height: 150px;
}
@media screen and (min-width: 700px) {
  .header__logo {
    margin: 0;
  }
}
@media screen and (min-width: 1100px) {
  .header__logo {
    margin: 50px;
  }
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}
.menu__toggler {
  font-size: 30px;
  margin-right: 30px;
  align-items: flex-end;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .menu__toggler {
    display: none;
  }
}
.menu__list {
  display: none;
  list-style: none;
  position: fixed;
  right: 0;
  z-index: 3;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}
@media screen and (min-width: 700px) {
  .menu__list {
    display: flex !important;
    margin: 50px;
    position: static;
  }
}
.menu__link {
  text-decoration: none;
  color: #57A7B3;
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  border-bottom: 2px solid #344E66;
  padding: 10px;
}
@media screen and (min-width: 700px) {
  .menu__link {
    padding-left: 30px;
  }
}
.menu__link:hover, .menu__link:active {
  color: #344E66;
  border-bottom: 2px solid #57A7B3;
}

.menu__link--active {
  color: #344E66;
  border-bottom: 2px solid #57A7B3;
}

.main::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #57A7B3;
}

.title {
  margin: 50px;
  color: #344E66;
  text-align: center;
}

.text {
  background-color: #CDE5E8;
  padding: 30px;
  max-width: 80%;
  margin: 50px auto;
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
.text__title {
  margin-top: 0;
  font-size: 20px;
}
.text__paragraph {
  margin: 0;
}
.text__paragraph1 {
  margin-top: 0;
}
.text__paragraph2 {
  margin-bottom: 0;
}
.text__link {
  color: #344E66;
}

.research {
  margin: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 700px) {
  .research {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .research {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.research__area {
  text-align: center;
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
  transition: all 0.3s;
}
.research__area:hover, .research__area:active, .research__area:visited {
  color: #344E66;
  box-shadow: 0 8px 17px rgba(70, 50, 210, 0.2);
  transform: translateY(-3px);
}
.research__image {
  padding: 10px;
  max-width: 100%;
  background-color: #FFFFFF;
}
.research__image img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.research__text {
  padding: 30px;
}
.research__link {
  color: #344E66;
  text-decoration: none;
}
.research__link:visited {
  color: #344E66;
}

.news {
  background-color: #CDE5E8;
  padding: 30px;
  max-width: 80%;
  margin: 50px auto;
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
.news__sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.news__title {
  margin-top: 0;
  font-size: 20px;
  text-align: center;
}
.news__image {
  max-width: 100%;
  background-color: #FFFFFF;
}
.news__image img {
  width: 100%;
  aspect-ratio: 8/3;
  -o-object-fit: contain;
     object-fit: contain;
}
.news__text {
  background-color: #344E66;
  text-align: center;
  padding: 10px;
}
.news__link {
  color: #F1F8F9;
}

.partner {
  padding: 30px;
  max-width: 50%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
.partner__logo {
  max-width: 200px;
}
.partner__text {
  align-self: center;
}
.partner__link {
  color: #344E66;
}

.publications__title {
  text-align: center;
  font-size: 22px;
}
.publications__title--first {
  margin-top: 50px;
}
.publications__section {
  margin: 50px;
  padding: 20px;
  background-color: #CDE5E8;
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
@media screen and (min-width: 600px) {
  .publications__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    align-items: center;
  }
}
.publications__section p {
  margin: 0;
}
@media screen and (min-width: 600px) {
  .publications__section--text {
    display: block;
  }
}
.publications__link {
  color: #344E66;
}
.publications__arrow {
  text-decoration: none;
}
.publications img {
  width: 100%;
  max-height: 300px;
  margin: 10px auto;
}

.leader {
  display: grid;
  margin: 50px auto;
  max-width: 400px;
}
.leader__wrapper {
  position: relative;
  margin: 0;
  width: 100%;
  background-image: linear-gradient(to top, #CDE5E8, #F1F8F9);
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
.leader__image {
  max-height: 220px;
  position: relative;
  padding: 10px;
  border-bottom: 3px solid #F1F8F9;
}
.leader__image img {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px solid #F1F8F9;
}
.leader__text {
  padding: 30px;
  text-align: center;
  background-color: #CDE5E8;
}
.leader__name {
  margin-top: 0;
}
.leader__link {
  display: block;
  color: #344E66;
}

.members {
  position: relative;
  margin: 50px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.members__card {
  background-image: linear-gradient(to top, #CDE5E8, #F1F8F9);
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
.members__image {
  height: 170px;
  position: relative;
  padding: 10px;
  border-bottom: 3px solid #F1F8F9;
}
.members__image img {
  display: block;
  width: 200px;
  margin: 0 auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px solid #F1F8F9;
}
.members__text {
  padding: 30px;
  text-align: center;
  background-color: #CDE5E8;
}
.members__name {
  margin-top: 0;
}
.members__link {
  display: block;
  color: #344E66;
}

.assistants {
  margin: 50px auto;
  max-width: 80%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.assistants__card {
  padding: 30px;
  text-align: center;
  background-color: #CDE5E8;
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
.assistants__name {
  margin-top: 0;
}
.assistants__link {
  display: block;
  color: #344E66;
}

.students {
  background-color: #CDE5E8;
  padding: 30px;
  max-width: 60%;
  margin: 0 auto 50px auto;
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
.students__title {
  margin-top: 0;
  display: inline-block;
  border-bottom: 2px solid #57A7B3;
}
.students__msc, .students__bsc {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: space-between;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.students__msc {
  margin-bottom: 30px;
}
.students__card {
  display: inline-block;
  text-align: center;
  margin: 0;
}
.students__name {
  margin: 0;
}
.students__text {
  margin: 0;
  font-size: 14px;
}

.alumni {
  background-color: #CDE5E8;
  padding: 30px;
  max-width: 60%;
  margin: 0 auto 50px auto;
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
.alumni__title {
  margin-top: 0;
  display: inline-block;
  border-bottom: 2px solid #57A7B3;
}
.alumni__wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: space-between;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.alumni__card {
  display: inline-block;
  text-align: center;
  margin: 0;
}
.alumni__name {
  margin: 0;
}
.alumni__text {
  margin: 0;
  font-size: 14px;
}

.positions {
  text-align: center;
  margin: 0 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.positions__title {
  margin: 20px;
  text-align: center;
  font-size: 22px;
}
.positions__area {
  text-align: center;
  box-shadow: 0 6px 15px rgba(72, 52, 212, 0.15);
}
.positions__image {
  padding: 30px;
  max-width: 100%;
  background-color: #FFFFFF;
}
.positions__image img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.positions__text {
  padding: 30px;
}

.main::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #57A7B3;
  margin-top: 10px;
}

.footer {
  background-color: #344E66;
  color: #F1F8F9;
  padding: 50px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: flex-end;
}
.footer__title {
  font-weight: 600;
}
.footer__e-mail {
  margin-bottom: 0;
}
.footer__phone {
  color: #F1F8F9;
  margin-top: 0;
}
.footer__menu {
  list-style: none;
  padding: 0;
}
.footer__link {
  color: #F1F8F9;
}
.footer__link:hover, .footer__link:active {
  color: #57A7B3;
}
.footer__icon {
  max-width: 100%;
  max-height: 70px;
  padding: 0;
  margin-top: 10px;
}
@media screen and (min-width: 720px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .footer__menu {
    text-align: center;
  }
  .footer__middleright {
    justify-self: end;
  }
  .footer__right {
    justify-self: end;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */