<footer class="footer">
    <div class="footer__left">
        <p class="footer__title">Group of Advanced Materials<br> 
            and Organic Synthesis</p>
        <p class="footer__address">Rozvojová 1/135<br>
            165 00 Prague 6 – Suchdol<br>
            Czech Republic</p>
    </div>

    <div class="footer__middleleft">
        <div class="footer__icons">
                <a  class="footer__icon" href="https://www.icpf.cas.cz/" target="_blank"><img src="/images/logo uchp_new.svg" alt="IconICPF" width="50px"></a>
                <a  class="footer__icon" href="https://www.facebook.com/UCHPAVCR" target="_blank"><img src="/images/FB_normal gamos.svg" alt="IconFacebook" width="50px"></a>
                <a  class="footer__icon" href="https://twitter.com/UCHPAVCR" target="_blank"><img src="/images/twitter_normal gamos.svg" alt="IconTwitter" width="50px"></a>
        </div>
        <p class="footer__e-mail">Email: <a class="footer__link" href="mailto:gamos@gamoschem.com">gamos@gamoschem.com</a></p>
        <p class="footer__phone">Phone: +420 220 390 236</p>
        <p><a class="footer__link" href="https://www.icpf.cas.cz/" target="_blank">Institute of Chemical Process Fundamentals</a></p>
    </div>

    <div class="footer__middleright">
        <ul class="footer__menu">
            <li><a class="footer__link" href="/">Home</a></li>
            <li><a class="footer__link" href="/research/">Research</a></li>
            <li><a class="footer__link" href="/publications/">Publications</a></li>
            <li><a class="footer__link" href="/members/">Members</a></li>
            <li><a class="footer__link" href="/joinus/">Join us!</a></li>
        </ul>
    </div>

    <div class="footer__right">
        <img class="footer__icon" src="/images/icon_g.svg" alt="IconGAMOS">
        <p class="footer__copyright">&copy; GAMOS, 2023</p>
    </div>
</footer>