<footer class="footer">
    <div class="footer__left">
        <p class="footer__title">Group of Advanced Materials<br> 
            and Organic Synthesis</p>
        <p class="footer__address">Rozvojová 1/135<br>
            CZ-165 02 Prague 6 – Suchdol<br>
            Czech Republic</p>
    </div>

    <div class="footer__middleleft">
        <div class="footer__icons">
                <a  class="footer__icon" href="https://cs-cz.facebook.com/gamoschem/" target="_blank"><img src="/images/icons8-facebook.svg" alt="IconFacebook"></a>
                <a  class="footer__icon" href="#" target="_blank"><img src="/images/icons8-twitter.svg" alt="IconTwitter"></a>
        </div>
        <p class="footer__e-mail">Email: <a class="footer__link" href="mailto:gamos@gamoschem.com">gamos@gamoschem.com</a></p>
        <p class="footer__phone">Phone: +420 220 390 272</p>
    </div>

    <div class="footer__middleright">
        <ul class="footer__menu">
            <li><a class="footer__link" href="/">Home</a></li>
            <li><a class="footer__link" href="/research/">Research</a></li>
            <li><a class="footer__link" href="/publications/">Publications</a></li>
            <li><a class="footer__link" href="/members/">Members</a></li>
            <li><a class="footer__link" href="/joinus/">Join us!</a></li>
        </ul>
    </div>

    <div class="footer__right">
        <img class="footer__icon" src="/images/icon_g.svg" alt="IconG">
        <p class="footer__copyright">&copy; GAMOS, 2022</p>
    </div>
</footer>