<header class="header">
    <a href="/"><img class="header__logo" src="/images/logo_gamos.svg" alt="Logo"></a>

    <h1 class="header__title">Group of Advanced Materials and Organic Synthesis</h1>

    <ul class="header__menu">
        <li><a class="header__link" href="/">Home</a></li>
        <li><a class="header__link" href="/research/">Research</a></li>
        <li><a class="header__link" href="/publications/">Publications</a></li>
        <li><a class="header__link" href="/members/">Members</a></li>
        <li><a class="header__link" href="/joinus/">Join us!</a></li>
    </ul>
</header>